* {
    box-sizing: border-box;
  }

  /* apply styles to <header> */
  header {
    padding: 35px 50px;    
    background-color: darkgray;
  }

  header h1 {
    font-weight: bold;
    font-size: 40px;
    color: darkblue;
    margin: 0;
    display: inline;
  }

  header h4 {
   font-weight: bold;
   font-size: 22px;
   color: blue; 
   display: inline;
   float: initial;
  }

  header nav {
    float: right;
  }
/* apply section to be on right*/
  section {
   float: right;
  }